@page
@model QuizManager.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Login</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="UserLogin.InputUserName" class="control-label"></label>
                <input asp-for="UserLogin.InputUserName" class="form-control inputUsername" required />
                <span asp-validation-for="UserLogin.InputUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserLogin.InputPassword" class="control-label"></label>
                <input asp-for="UserLogin.InputPassword" class="form-control" required />
                <span asp-validation-for="UserLogin.InputPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserLogin.Access" class="control-label"></label>
                <select asp-for="UserLogin.Access" class="form-control userRightsSelect" required>
                    <option disabled selected value="" class="userRightsOption">--Select an Option--</option>
                    <option value="Restricted" class="userRightsOption">Restricted</option>
                    <option value="View" class="userRightsOption">Viewer</option>
                    <option value="Edit" class="userRightsOption">Editor</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="login btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    inputUser = document.querySelector(".inputUsername");
    inputRights = document.querySelector(".access");
    loginButton = document.querySelector(".login");
    userRights = document.querySelector(".userRightsSelect");
    window.addEventListener('load', e => {
        localStorage.clear();
    });
    loginButton.addEventListener('click', e => {
        localStorage.setItem("username", inputUser.value.trim());
        localStorage.setItem("rights", userRights.value.trim());
    });
</script>