@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button class="btn btn-primary login">Please Login</button>

</div>

<script>
    login = document.querySelector(".login");
    login.addEventListener("click", e => {
        localStorage.clear();
        sessionStorage.clear();
        window.location.href = "/Users/Index";
    });
</script>